<div class="form-group">
	<label class="control-label mb-10 text-left">제목</label>
  <div class="control-label mb-10 text-left">설명</div>
	<input type="text" class="form-control">
</div>

<div class="form-group">
	<label class="control-label mb-10 text-left">제목</label>
  <div class="control-label mb-10 text-left">설명</div>
	<textarea class="form-control" rows="5"></textarea>
</div>

<div class="form-group mb-30">
  <label class="control-label mb-10 text-left">제목</label>
  <div class="control-label mb-10 text-left">설명</div>
	<div class="radio radio-info">
		<input type="radio" name="radio" id="radio1" value="option1" checked="">
		<label for="radio1">선택 1</label>
	</div>
	<div class="radio radio-info">
		<input type="radio" name="radio" id="radio2" value="option2" checked="">
		<label for="radio2">선택 2</label>
	</div>
  <div class="radio radio-info">
    <input type="radio" name="radio" id="radio3" value="option3" checked="">
		<label for="radio3">기타<input type="text" name="radio" checked=""></label>
	</div>
</div>

<div class="form-group mb-30">
  <label class="control-label mb-10 text-left">제목</label>
  <div class="control-label mb-10 text-left">설명</div>
  <div class="checkbox">
  	<input id="checkbox1" type="checkbox">
  	<label for="checkbox1">선택 1</label>
  </div>
  <div class="checkbox checkbox-primary">
  	<input id="checkbox2" type="checkbox" checked="">
    <label for="checkbox2">선택 2</label>
  </div>
  <div class="checkbox checkbox-success">
  	<input id="checkbox3" type="checkbox">
  	<label for="checkbox3">기타<input type="text" name="radio" checked=""></label>
  </div>
</div>

<div class="form-group mb-30">
	<div class="row">
		<div class="col-sm-3">
			<label class="control-label mb-10">연락처</label>
      <div class="control-label mb-10 text-left">설명</div>
      <div style="display:flex">
  			<input type="text" class="form-control"> -
        <input type="text" class="form-control"> -
        <input type="text" class="form-control">
      </div>
		</div>
  </div>
</div>

<div class="form-group">
	<label class="control-label mb-10">목록선택</label>
  <div class="control-label mb-10 text-left">설명</div>
	<select class="selectpicker" data-style="form-control btn-default btn-outline">
		<option>선택 1</option>
		<option>선택 2</option>
		<option>선택 3</option>
	</select>
</div>

<div class="form-group">
  <label class="control-label mb-10">선호도형</label>
  <div class="control-label mb-10 text-left">설명</div>
  <table>
    <tr>
      <td></td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <td>좋아</td>
      <td><input type="radio" name="radio" id="radio1" value="option1" checked=""></td>
      <td><input type="radio" name="radio" id="radio2" value="option2" checked=""></td>
      <td><input type="radio" name="radio" id="radio3" value="option3" checked=""></td>
      <td><input type="radio" name="radio" id="radio4" value="option4" checked=""></td>
      <td><input type="radio" name="radio" id="radio5" value="option5" checked=""></td>
      <td>시러</td>
    </tr>
  </table>
</div>

<div class="form-group">
  <label class="control-label mb-10">표형</label>
  <div class="control-label mb-10 text-left">설명</div>
  <table>
    <tr>
      <td></td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <td>1번 질문</td>
      <td><input type="radio" name="radio" id="radio1" value="option1" checked=""></td>
      <td><input type="radio" name="radio" id="radio2" value="option2" checked=""></td>
      <td><input type="radio" name="radio" id="radio3" value="option3" checked=""></td>
      <td><input type="radio" name="radio" id="radio4" value="option4" checked=""></td>
      <td><input type="radio" name="radio" id="radio5" value="option5" checked=""></td>
    </tr>
    <tr>
      <td>2번 질문</td>
      <td><input type="radio" name="radio" id="radio1" value="option1" checked=""></td>
      <td><input type="radio" name="radio" id="radio2" value="option2" checked=""></td>
      <td><input type="radio" name="radio" id="radio3" value="option3" checked=""></td>
      <td><input type="radio" name="radio" id="radio4" value="option4" checked=""></td>
      <td><input type="radio" name="radio" id="radio5" value="option5" checked=""></td>
    </tr>
  </table>
</div>

<div class="form-group mb-30">
	<div class="row">
		<div class="col-sm-3">
			<label class="control-label mb-10">주소형</label>
      <div class="control-label mb-10 text-left">설명</div>
      <div style="display:flex">
        <input type="text" class="form-control"><button class="btn btn-default">우편번호</button>
      </div>
      <input type="text" class="form-control">
		</div>
  </div>
</div>
